html {
    font-family: 'georgia';
    background-color: black;
    color: white;
}

#kyleHeaderImage {
    max-height: 100%;
    width: auto;
    float: left;
    padding-right: 2%;
}

.headerContainer {
    position: relative;
    height: auto;
}

#headerCenteredElement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    font-size: 3vw;
}

#kyleHeaderSubtextContainer {
    display: flex;
    justify-content: center;
    font-size: 1vw;
}


.buttonContainer {
    height: auto;
    position: relative;
    padding: 0vw 18%;
}

.buttons {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    width: 30vw;
    height: 15vw;
    max-width: 200px;
    max-height: 100px;

    border: none;
    color: white;

    /* text-align: center; */
    margin: 5px;
    font-size: 16px;
    border-radius: 4px;
    vertical-align: top;

    display: inline-block;
    overflow: hidden;

}

.button:hover {
    background-color: #3a903d;
}

.button:active {
    background-color: #173c18;
}


#graph {
    margin-top: 4vw;
    width: 100%;
    height: 600px;
    padding: 0;
}

.recentSubmission {
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
    padding: 0vw 18%;
}

#allCrimesLink
{
   text-decoration: underline;
}
.recentSubmission a:link
{
   color: #ffffff;
   text-decoration: none;
}
.recentSubmission a:visited
{
   color: #ffffff;
   text-decoration: none;
}

table {
    margin: auto;
    margin-bottom: 1vw;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid #ffffff;
}

th,
td {
    padding: 10px;
}



.formDiv {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}